VITE_SUPABASE_URL=https://mnkvdhjbfytlouewspln.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ua3ZkaGpiZnl0bG91ZXdzcGxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MzAyODcsImV4cCI6MjA4ODEwNjI4N30.TKtVu0paqXltQKHtsfO0t2h7JGGwwa1obPT7Wcw1Fn0
VITE_EMAIL_NOTIFICATION_ENDPOINT=/.netlify/functions/send-event-notification

# Variables de entorno para la funcion serverless de Netlify
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_FROM=plataformacae@cemosa.es
SMTP_USER=plataformacae@cemosa.es
SMTP_PASS=
